/*

/* ------------------------- */
/*         VARIABLES         */
/* ------------------------- */

:root {
  /* Font */
  --font-family: "Kumbh Sans", sans-serif;

  /* Colors */
  --Dark-cyan: hsl(185, 75%, 39%);
  --Very-dark-blue: hsl(229, 23%, 23%);
  --Dark-grayish-blue: hsl(227, 10%, 46%);
  --Gray-neutral: hsl(0, 0%, 89%);
}

/***********************/
/*      CSS RESET      */
/***********************/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;

  font-size: 62.5%;
}

button {
  font: inherit;
}

img {
  max-width: 100%;
  display: block;
}

/**************************/
/*         STYLES         */
/**************************/

body {
  font-family: var(--font-family);
  min-height: 100vh;
  background-color: var(--Dark-cyan);
  position: relative;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url("./images/bg-pattern-top.svg"),
    url("./images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: right 52vw bottom 35vh, left 48vw top 52vh;
}

p {
  font-size: 1.8rem;
}

.profile-card {
  background-color: #fff;
  max-width: 35rem;
  border-radius: 1.6rem;
  overflow: hidden;
  box-shadow: 0 50px 45px rgba(45, 50, 72, 0.2);
}

/*******************************/
/*      CARD IMAGES STYLES      */
/*******************************/

.card-images {
  position: relative;
  margin-bottom: 6.8rem;
}

.profile-img-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.profile-img {
  background-color: #fff;
  border-radius: 50%;
  padding: 0.5rem;
}

/******************************/
/*      CARD TEXT STYLES      */
/******************************/

.person-info {
  text-align: center;
  margin-bottom: 0.8rem;
  line-height: 1.8;
}

.name {
  display: inline;
  color: var(--Very-dark-blue);
  font-size: 1.8rem;
  margin-right: 0.8rem;
}

.age {
  color: var(--Dark-grayish-blue);
  font-size: 1.8rem;
}

.location {
  color: var(--Dark-grayish-blue);
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 1.8rem;
}

hr {
  background-color: var(--Gray-neutral);
  border: none;
  padding: 0.01rem;
  margin-bottom: 2.2rem;
}

.stats {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2.2rem;
}

.stat {
  min-width: 5.8rem;
  text-align: center;
  line-height: 1.5;
}

.stat-count {
  color: var(--Very-dark-blue);
  font-size: 1.8rem;
  font-weight: 700;
}

.stat-label {
  color: var(--Dark-grayish-blue);
  font-size: 1rem;
  letter-spacing: 0.15rem;
  font-weight: 400;
}

/***************************/
/*      MEDIA QUERIES      */
/***************************/

@media only screen and (max-width: 375px) {
  .profile-card {
    max-width: 80%;
  }

  .name,
  .age {
    font-size: 2rem;
  }

  .location {
    font-size: 1.6rem;
  }

  .stat-count {
    font-size: 1.6rem;
  }

  .stat-label {
    font-size: 1.2rem;
  }
}
